:root {
  --ec-red: #ff2d55;
  --ec-blue: #00acee;
  --ec-orange: #efa506;
  --ec-green: #8dc63f;
  --ec-dark: #0d1028;
  --ec-light: #f5f4f7;
  --ec-gray: #707070;
  --ec-shadow-text: #edeaf6;
  --ec-heading-font: "Raleway", sans-serif;
}

/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2 {
  font-family: var(--ec-heading-font);
  font-weight: 500;
}

/* Utilities */
/* Background */
.ec-bg-dark {
  background-color: var(--ec-dark);
}
.ec-bg-red {
  background-color: var(--ec-red);
}
.ec-bg-green {
  background-color: var(--ec-green);
}
.ec-bg-blue {
  background-color: var(--ec-blue);
}
.ec-bg-orange {
  background-color: var(--ec-orange);
}
.ec-bg-light {
  background-color: var(--ec-light);
}
.ec-bg-dark {
  background-color: var(--ec-dark);
}
/* Text */
.ec-gray {
  color: var(--ec-dark);
}
.ec-red {
  color: var(--ec-red);
}
.ec-blue {
  color: var(--ec-blue);
}
.ec-orange {
  color: var(--ec-orange);
}
.ec-dark {
  color: var(--ec-dark);
}
.ec-light {
  color: var(--ec-light);
}
.ec-text-shadow {
  color: var(--ec-dark);
}

/* Hover effect */
.btn {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  font-size: 1rem;
}

.btn > span {
  z-index: 5;
  position: relative;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: calc(50% + 2px);
  height: 100%;
  background-color: var(--ec-red);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.btn::before {
  left: 0;
}

.btn::after {
  right: 0;
}

.btn:hover::before {
  left: -51%;
}
.btn:hover::after {
  right: -51%;
}
body {
  padding-top: 3.5rem; /* for fixed navbar */
}

/* Navigation */
.ec-navbar .nav-item .nav-link {
  font-weight: 500;
  letter-spacing: 1.25px;
  font-family: var(--ec-heading-font);
}

.ec-navbar .nav-item .nav-link:focus,
.ec-navbar .nav-item .nav-link:active,
.ec-navbar .nav-item .nav-link:hover {
  color: var(--ec-red);
}

/* Banner */
.banner-wrapper .carousel-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.banner-wrapper .carousel-item:nth-child(1) {
  background-image: url("images/banner/banner-1.jpg");
}
.banner-wrapper .carousel-item:nth-child(2) {
  background-image: url("images/banner/banner-2.jpg");
}
.banner-wrapper .carousel-item:nth-child(3) {
  background-image: url("images/banner/banner-3.jpg");
}

.banner-wrapper .carousel-item:nth-child(4) {
  background-image: url("images/banner/banner-4.jpg");
}

/* Package Section */
.packages-section .ec-card-row > .col:nth-child(1) .btn::before,
.packages-section .ec-card-row > .col:nth-child(1) .btn::after {
  background-color: var(--ec-green);
}
.packages-section .ec-card-row > .col:nth-child(2) .btn::before,
.packages-section .ec-card-row > .col:nth-child(2) .btn::after {
  background-color: var(--ec-orange);
}
.packages-section .ec-card-row > .col:nth-child(4) .btn::before,
.packages-section .ec-card-row > .col:nth-child(4) .btn::after {
  background-color: var(--ec-blue);
}
