/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2 {
  font-family: "Raleway", sans-serif;
}

/* Banner Wrapper */
.banner-wrapper {
  /* width: 100vw; */
}
.banner-wrapper .carousel-item {
  background-image: url("images/pexels-fu-zhichao-587741.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bs-purple);
  background-blend-mode: multiply;
}
